Servidor Central Agencia/src/com/uy/antel/util/dataTicket.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.0" vc:maxVersion="1.1">

<xs:complexType mixed="true" name="datatickettype">
  <xs:sequence> 
    <xs:element name="error" type="xs:positiveInteger" nillable="false"/>
    <xs:element name="mensaje" type="xs:string"/>
    <xs:element name="importeTotal" type="xs:positiveInteger" nillable="false"/>
   </xs:sequence> 
</xs:complexType>

<xs:element name="dataticket" type="datatickettype" nillable="false"/>

</xs:schema> 