Servidor Central Agencia/src/com/uy/antel/xml/dataTicket.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="xmlDataTicket" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error" type="xs:positiveInteger"
					nillable="false" />
				<xs:element name="mensaje" type="xs:string" />
				<xs:element name="importeTotal" type="xs:positiveInteger" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 